:root {
    --background: #fff;
    --text: #363636;
    --link: #0097d6;
    --accent-1: #f8f8f8;
    --accent-2: #dfdfdf;
    --accent-3: #676767;
    --social: #999;
    --sans-serif-font: 'Nunito Sans', -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --mono-space-font: ui-monospace, SFMono-Regular, ui-monospace, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background: #191919;
        --text: #f8f8f8;
        --link: #0097d6;
        --accent-1: #2c2c2c;
        --accent-2: #4c4c4c;
        --accent-3: #d9d9d9;
    }
}

*, *::before, *::after {
    box-sizing: border-box;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
h1, h2, h3, h4, h5, h6, b, strong {
    font-weight: var(--font-weight-bold);
    font-family: var(--sans-serif-font);
}
#root, #__next {
    isolation: isolate;
}

html {
    font-size: 10px;
}
body {
    background: var(--background);
    color: var(--text);
    font-family: var(--sans-serif-font);
    font-size: 1.8rem;
    line-height: 1.6;
    margin: 0 auto;
    padding: 2rem;
    max-width: 74rem;
    -moz-font-feature-settings:    "kern" 1; 
    -ms-font-feature-settings:     "kern" 1; 
    -o-font-feature-settings:      "kern" 1; 
    -webkit-font-feature-settings: "kern" 1; 
    font-feature-settings:         "kern" 1;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    color: var(--link);
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2.8rem;
}
h3 {
    font-size: 2.4rem;
}
h4, h5, h6 {
    font-size: 2.2rem;
}
hr {
    border: none;
    height: 1px;
    background: var(--accent-2);
    margin: 4rem 0;
}
blockquote {
    border-left: 1px solid var(--accent-3);
    color: var(--accent-3);
    margin: 2rem 0;
    padding: 0 2rem;
    font-style: italic;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 6px;
    border: 1px solid var(--accent-3);
    text-align: left;
}
th {
    background: var(--accent-1);
}
code, kbd, pre, tt {
    font-family: var(--mono-space-font);
    font-size: 1.6rem;
}
pre {
    background: var(--text);
    border-radius: 6px;
    color: var(--background);
    line-height: 1.5;
    margin: 2rem 0;
    overflow-wrap: normal;
    overflow-x: scroll;
    padding: 2rem;
    white-space: pre-line;
    word-wrap: normal;
}
code {
    background: var(--text);
    border-radius: 6px;
    color: var(--background);
    padding: 3px 5px;
}
pre code {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
}
input[type=button], input[type=submit] {
    background-color: var(--accent-2);
    border: none;
    color: var(--text);
    padding: 6px 12px;
    text-decoration: none;
    margin: 4px 1px;
    cursor: pointer;
    border-radius: 6px;
}
input[type=button]:hover, input[type=button]:active, input[type=submit]:hover, input[type=submit]:active {
    color: #fff;
    background: var(--link);
}
input[type=email] {
    padding: 5px 8px;
    border: 1px solid var(--accent-3);
    border-radius: 6px;
    margin: 4px 1px;
    width: 60%;
}

.site-title {
    margin-bottom: -.5rem;
    font-size: 3rem;
}
.site-title a, .post-title a {
    color: var(--text);
    text-decoration: none;
}
.site-title a:hover, .site-title a:active,
.post-title a:hover, .post-title a:active {
    color: var(--link);
    text-decoration: underline;
}
.site-nav {
    margin: 3rem 0 5rem;
    font-size: 1.8rem;
}
.site-nav ul {
    list-style: none;
    padding: 0;
}
.site-nav li {
    display: inline-block;
    margin-right: 15px;
}

.site-nav a.social {
    color: var(--social);
    display: inline-block;
    margin-right: -10px;
}
.site-nav a.mastodon:hover {
    color: #595aff;
}
.site-nav a.microblog:hover {
    color: #ff8800;
}
.site-nav a.github:hover {
    color: #4078c0;
}

article {
    margin: 0 0 5rem 0;
    padding: 0;
}
article:last-of-type {
    margin-bottom: 4rem;
}
article h2, article h3 {
    margin-top: 3rem;
}
single article {
    margin-bottom: 0;
    padding-bottom: 0;
}

.page-title,
.post-title {
    line-height: 1.2;
}
.post-title {
    margin-bottom: -10px;
}
.post-date {
    color: var(--accent-3);
    font-size: 1.8rem;
}
.btm-margin {
    margin-bottom: -10px;
}

article img {
    width: 100%;
    height: auto;
    border-radius: 6px;
    margin: 2rem auto;
}
article ul li,
article ol li {
    margin-bottom:5px;
}

ul.photo-grid-container {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
ul.photo-grid-container li {
    height: 170px;
    flex-basis: 33.3334%;
    cursor: pointer;
    position: relative;
    margin-bottom: 0;
}
ul.photo-grid-container li img {
    margin: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    border-radius: 0;
    border: 3px solid transparent;
}
ul.photo-grid-container li:last-child {
  flex-grow: 10;
}

.tinylytics_kudos {
    text-decoration: none;
    color: var(--accent-3);
    border: 1px solid var(--accent-2);
    background-color: var(--accent-1);
    font-size: 1.4rem;
    border-radius: 6px;
    padding: 2px 8px;
    display: inline-block;
    margin: 2px 0;
    line-height: 1.6;
}
.tinylytics_kudos:hover,
.did_select {
    border: 1px solid var(--text);
    background: var(--text);
    color: var(--background);
}

.post-tags {
    list-style: none;
    margin: 0 0 2rem 0;
    padding: 0;
    font-size: 1.8rem;
}
.post-tags li {
    margin-right: 6px;
    display: inline;
}

.microblog_conversation {
    margin: 5rem 0;
}
.microblog_post {
    margin-bottom: 1rem;
    padding: 2.5rem 2.5rem 2.3rem 2.5rem;
    border: 1px solid var(--accent-2);
    border-radius: 6px;
    background: var(--accent-1);
}
.microblog_conversation .microblog_post {
    margin-bottom: 1rem;
}
.microblog_user {
    font-weight: var(--font-weight-bold);
}
.microblog_fullname {
    font-weight: var(--font-weight-bold);
    font-size: 1.8rem;
    margin-left: 6px;
    display: inline-block;
    line-height: 30px;
}
.microblog_user img {
    vertical-align: middle;
    width: 30px;
    height: auto;
    border-radius: 50%;
    max-width: 30px !important;
    display: inline-block;
    margin-top: -2px;
}
.microblog_time a,
.microblog_time a:visited {
    color: var(--accent-dark2);
    font-size: 1.8rem;
    text-decoration: none;
}

.microblog_reply_form {
    margin-top: 5rem;
}
.microblog_reply_signin {
    font-size: 1.8rem;
}
.microblog_reply_textarea textarea {
    border: 1px solid var(--accent-3);
    width: 100%;
    border-radius: 6px;
    padding: 8px;
}
.microblog_reply_textarea textarea:disabled,
.microblog_reply_textarea textarea[disabled] {
    background: var(--accent-1);
    border-color: var(--accent-2);
}
.microblog_reply_button input:disabled,
.microblog_reply_button input[disabled] {
    display: none;
}
.microblog_reply_button {
    text-align: right;
    font-size: 1.8rem;
    margin-top: -15px;
}

.info {
    background-color: var(--accent-1);
    border-left: 3px solid var(--link);
    color: var(--text);
    padding: 16px 24px;
}

.last-update {
    margin: 4rem 0;
    font-size: 1.8rem;
}

main.archive .entry p > img {
    display: none;
}
main.archive .entry {
    margin: -1rem 0 5rem 0;
}
main.archive .entry p {
    display: inline;
}

.main-nav {
    margin: 0 0 3rem 0;
    padding: 2rem 0;
}
.main-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.main-nav li {
    margin: 0;
    padding: 0;
}

footer {
    color: var(--accent-3);
    font-size: 1.8rem;
    padding: 0 0 3rem 0;
    text-align: center;
}
footer p {
    margin: 0;
}

.tiny_webring {
    display: block;
}
.tiny_uptime::before {
    content: " · ";
}
.tiny_countries {
    display: block;
    font-size: 2rem;
    letter-spacing: 2px;
    line-height: 1;
    margin: 4rem auto 0 auto;
    max-width: 78rem;
    word-break: break-word;
}
a.tinylytics_webring {
    display: inline;
    line-height: 30px;
}
.tinylytics_webring_avatar {
    border-radius: 6px;
    width: 24px;
    height: auto;
    vertical-align: middle;
    margin-right: 6px;
    background: #fff;
}

@media only screen and (max-width: 700px) {
    ul.photo-grid-container li {
        flex-basis: 50%;
    }
}