:root {
    --sans-serif-font: -apple-system, system-ui, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    --serif-font: -apple-system-ui-serif, ui-serif, 'Georgia', serif;
    --mono-space-font: ui-monospace, SFMono-Regular, ui-monospace, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    --font-weight-normal: 400;
    --font-weight-bold: 700;
    --background: #fff;
    --text: #3b4143;
    --link: #2196f3;
    --accent-1: #f8f8f8;
    --accent-2: #dfe0e0;
    --accent-3: #626768;
}
@media (prefers-color-scheme: dark) {
    :root {
        --background: #191919;
        --text: #f8f8f8;
        --link: #2196f3;
        --accent-1: #2c2c2c;
        --accent-2: #4c4c4c;
        --accent-3: #d9d9d9;
    }
}

/* === css reset === */
*, *::before, *::after {
    box-sizing: border-box;
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
h1, h2, h3, h4, h5, h6, b, strong {
    font-weight: var(--font-weight-bold);
    font-family: var(--sans-serif-font);
}
#root, #__next {
    isolation: isolate;
}

/* === start main styles === */
html {
    font-size: 10px;
}
body {
    background: var(--background);
    color: var(--text);
    font-family: var(--sans-serif-font);
    font-size: 1.8rem;
    line-height: 1.6;
    margin: 0 auto;
    max-width: 72rem;
    padding: 1rem 2rem;
    -moz-font-feature-settings:    "kern" 1; 
    -ms-font-feature-settings:     "kern" 1; 
    -o-font-feature-settings:      "kern" 1; 
    -webkit-font-feature-settings: "kern" 1; 
    font-feature-settings:         "kern" 1;
    font-kerning: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
a {
    color: var(--link);
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: underline;
}
hr {
    border: none;
    height: 1px;
    background: var(--accent-2);
    margin: 4rem 0;
}
blockquote {
    border-left: 1px solid var(--accent-3);
    color: var(--accent-3);
    margin: 2rem 0;
    padding: 0 2rem;
    font-style: italic;
	font-size: 1.9rem;
}
table {
    border-collapse: collapse;
    width: 100%;
}
th, td {
    padding: 6px;
    border: 1px solid var(--accent-3);
    text-align: left;
}
th {
    background: var(--accent-1);
}
code, kbd, pre, tt {
    font-family: var(--mono-space-font);
    font-size: 1.5rem;
}
pre {
    background: var(--text);
    border-radius: 6px;
    color: var(--background);
    line-height: 1.5;
    margin: 2rem 0;
    overflow-wrap: normal;
    overflow-x: scroll;
    padding: 2rem;
    white-space: pre-line;
    word-wrap: normal;
}
code {
    background: var(--text);
    border-radius: 6px;
    color: var(--background);
    padding: 3px 5px;
}
pre code {
    background: none;
    border: none;
    color: inherit;
    padding: 0;
}
input[type=button], input[type=submit] {
    background-color: var(--accent-2);
    border: none;
    color: var(--text);
    padding: 6px 12px;
    text-decoration: none;
    margin: 4px 1px;
    cursor: pointer;
    border-radius: 6px;
}
input[type=button]:hover,
input[type=button]:active,
input[type=submit]:hover,
input[type=submit]:active {
    color: #fff;
    background: var(--link);
}
input[type=email] {
    padding: 5px 8px;
    border: 1px solid var(--accent-3);
    border-radius: 6px;
    margin: 4px 1px;
}