<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
    <body>
        {{ partial "header.html" . }}
        {{ block "main" . }}{{ end }}
        {{ partial "footer.html" . }}
        {{- range $filename := .Site.Params.plugins_html -}}
        {{- partial $filename $ -}}
        {{- end -}}
        {{- range .Site.Params.plugins_js -}}
        <script defer type="text/javascript" src="{{ . }}"></script>
        {{- end -}}
        <script src="https://kit.fontawesome.com/16098a8f37.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script defer type="text/javascript" src="{{ "js/menu.js" | relURL }}"></script>
        <script defer type="text/javascript" src="{{ "js/external-links.js" | relURL }}"></script>
        <script defer type="text/javascript" src="{{ "js/prism.js" | relURL }}"></script>
    </body>
</html>
