<!DOCTYPE html>
<html lang="en">
    {{ partial "head.html" . }}
    <body>
        {{ partial "header.html" . }}
        <main>
        {{ block "main" . }}{{ end }}
        {{ partial "footer.html" . }}
        </main>
        {{ range $filename := .Site.Params.plugins_html }}
        {{ partial $filename $ }}
        {{ end }}
        {{ range .Site.Params.plugins_js }}
        <script src="{{ . }}"></script>
        {{ end }}
        <script defer="defer" type="text/javascript" src="{{ "js/menu.js" | relURL }}"></script>
        <script defer="defer" type="text/javascript" src="{{ "js/prism.js" | relURL }}"></script>
    </body>
</html>
