{{ define "main" }}
<main class="archive">
	<article>
		<h2 class="page-title">{{ .Title }}</h2>
		
		{{ $list := ($.Site.GetPage "taxonomyTerm" "categories").Pages }}
		{{ if gt (len $list) 0 }}
			{{ if .Title }}
			<h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
			<p class="post-date">{{ .Date.Format "Monday, January 2, 2006" }}</p>
			<p>{{ .Summary | safeHTML }}</p>
			{{ if .Truncated }}
			  <p><a href="{{ .RelPermalink }}">Continue reading →</a></p>
			{{ end }}
			{{ else }}
			<p class="post-date btm-margin"><a href="{{ .Permalink }}">{{ .Date.Format "Monday, January 2, 2006" }}</a></p>
			{{ .Content }}
			{{ end }}
		{{ end }}
		
		{{ $list := (where .Site.Pages "Type" "post") }}
		{{ range $list }}
		<p class="post-date"><a href="{{ .Permalink }}">{{ .Date.Format "Monday, January 2, 2006" }}</a></p>
		<div class="entry">
			<p>{{ if .Title }}<b>{{ .Title }}:</b> {{ end }}{{ .Summary | safeHTML | truncate 150  }}</p>
		</div>
		{{ end }}
	</article>
</main>
{{ end }}