{{- define "main" }}
<main class="archive">
	<article>
		<h2 class="page-title">{{ .Title }}</h2>
		{{- range (.Pages.GroupByDate "January, 2006") }}
			<h3 class="archive-range">{{ .Key }}</h3>
			{{- range (where .Pages "Type" "post")}}
			<p class="post-date"><a href="{{ .Permalink }}">{{ .Date.Format "Monday, January 2, 2006" }} →</a></p>
			<div class="entry">
				<p>{{ if .Title }}<b>{{ .Title }}:</b> {{ end }}{{ .Summary | safeHTML | truncate 350  }}</p>
			</div>
			{{- end }}
		{{- end }}
	</article>
</main>
{{- end }}