{{ define "main" }}
	<article>
		<h2 class="page-title">{{ .Title }}</h2>
		<ul class="photo-grid-container">
		{{- $category := index .Site.Taxonomies.categories (lower "Photos") -}}
		{{- $list := $category.Pages -}}
		{{- $len := (len $list) -}}
		{{ range $index, $value := $list }}
			{{- .Scratch.Set "include_photo" true -}}
	
			{{- if and .Site.Params.photos_only_microblog (ne .Title "") -}}
				{{- .Scratch.Set "include_photo" false -}}
			{{- end -}}
		  	
			{{- if .Scratch.Get "include_photo" -}}
				{{- if .Params.photos -}}
					<li>
						<a href="{{ .Permalink }}">
							{{ range first 1 .Params.photos }}
								<img src="{{ . }}" width="300" height="300" class="photo-grid-item" loading="lazy" />
							{{ end }}
						</a>
					</li>
				{{- end -}}
			{{- end -}}
		{{ end }}
			<li></li>
		</ul>
	</article>
{{ end }}