{{- define "main" }}
<main class="archive">
	<article>
		{{/*  Get Posts  */}}
{{ $posts := where  site.RegularPages "Type" "post" }}

{{/*  Group Posts by Date  */}}
{{ $grouped := $posts.GroupByDate "2006-01" }}

{{/*  Paginate Group */}}
{{ $paginated := (.Paginate ($grouped)) }}

{{/*  Range over Page Groups  */}}
{{ range $paginated.PageGroups }}

  {{/*  Range over PageGroup Pages (in Reverse)  */}}
  {{ range .Pages.Reverse  }}
    {{ .Render "summary"}}
  {{ end }}

{{ end }}
	</article>
</main>
{{- end }}