<header>
    
    <h1 class="site-title"><a href="/">{{ .Site.Title }}</a></h1>
    
    <nav class="site-nav">
        <ul>
            <li><a href="/">Home</a></li>
        {{ range .Site.Menus.main }}
            {{ if .Page.Params.redirect_url }}
            <li><a href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a></li>
            {{ else }}
            <li><a href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a></li>
            {{ end }}
        {{ end }}
            {{ if ne (.Site.Params.wane_mastdodon_url | default "") "" }}<li><a href="{{ .Site.Params.wane_mastdodon_url }}" class="social mastodon"><i class="fa-brands fa-mastodon"></i></a></li>{{ end }}
            {{ if ne (.Site.Params.wane_microblog_user | default "") "" }}<li><a href="https://micro.blog/{{ .Site.Params.wane_microblog_user }}" class="social microblog"><i class="fa-brands fa-microblog"></i></a></li>{{ end }}
            {{ if ne (.Site.Params.wane_github_user | default "") "" }}<li><a href="https://github.com/{{ .Site.Params.wane_github_user }}" class="social github"><i class="fa-brands fa-github"></i></a></li>{{ end }}
        </ul>
    </nav>
    
</header>