<header>
    
    <h1 class="site-title"><a href="/">{{ .Site.Title }}</a></h1>
    
    <nav class="site-nav">
        <ul>
            <li><a href="/">Home</a></li>
        {{ range .Site.Menus.main }}
            {{ if .Page.Params.redirect_url }}
            <li><a href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a></li>
            {{ else }}
            <li><a href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a></li>
            {{ end }}
        {{ end }}
            <li><a href="https://mastodon.social/@jimmitchell" class="social mastodon"><i class="fa-brands fa-mastodon"></i></a></li>
            <li><a href="https://micro.blog/jimmitchell" class="social microblog"><i class="fa-brands fa-microblog"></i></a></li>

        </ul>
    </nav>
    
</header>