<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
  <meta name="view-transition" content="same-origin" />
  {{- if ne (.Site.Params.mnml_fediverse_creator | default "") "" }}
  <meta name="fediverse:creator" content="{{ .Site.Params.mnml_fediverse_creator }}" />
  {{- end }}
  <title>
    {{- block "title" . -}}
    {{- .Site.Title -}}
    {{- if and .Title (ne .Title .Site.Title) }}
    | {{ .Title }}
    {{- end -}}
    {{- end -}}
  </title>
  <meta name="description" content="{{ .Summary }}">
  <link rel="shortcut icon" href="https://micro.blog/{{ .Site.Author.username }}/favicon.png" type="image/x-icon" />
  {{ partial "font-preload.html" . }}
  <link rel="stylesheet" href="{{ "css/gtw.css" | relURL }}?{{ .Site.Params.theme_seconds }}">
  <link rel="stylesheet" href="{{ "css/fa.min.css" | relURL }}?{{ .Site.Params.theme_seconds }}">
  <link rel="stylesheet" href="{{ "css/prism.css" | relURL }}?{{ .Site.Params.theme_seconds }}">
  <link rel="stylesheet" href="{{ "css/main.css" | relURL }}?{{ .Site.Params.theme_seconds }}">
  <link rel="stylesheet" href="{{ "custom.css" | relURL }}?{{ .Site.Params.theme_seconds }}">
  {{- if (isset .Site.Params "mnml_lite_link_color") }}
  <style>:root{--link: {{ .Site.Params.mnml_lite_link_color }};}</style>
  {{- end }}
  {{- if (isset .Site.Params "mnml_dark_link_color") }}
  <style>@media(prefers-color-scheme:dark){:root{--link: {{ .Site.Params.mnml_dark_link_color }};}}</style>
  {{- end }}
  <link rel="canonical" href="{{ .Permalink }}">
  <link rel="author" href="humans.txt" />
  {{- if .RSSLink }}
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link href="{{ "podcast.xml" | absURL }}" rel="alternate" type="application/rss+xml" title="Podcast" />
  <link rel="alternate" type="application/json" title="{{ .Site.Title }}" href="{{ "feed.json" | absURL }}" />
  <link rel="EditURI" type="application/rsd+xml" href="{{ "rsd.xml" | absURL }}" />
  {{- end }}
  <link rel="me" href="https://micro.blog/{{ .Site.Author.username }}" />
  <link rel="authorization_endpoint" href="https://micro.blog/indieauth/auth" />
  <link rel="token_endpoint" href="https://micro.blog/indieauth/token" />
  <link rel="micropub" href="https://micro.blog/micropub" />
  <link rel="microsub" href="https://micro.blog/microsub" />
  <link rel="webmention" href="https://micro.blog/webmention" />
  <link rel="subscribe" href="https://micro.blog/users/follow" />
  {{- range .Site.Params.plugins_css }}
  <link rel="stylesheet" href="{{ . }}" />
  {{- end }}
</head>