<header>
    
    <h1 class="site-title">{{ .Site.Title }}</h1>
    
    <nav class="site-nav">
        <ul>
            <li><a href="/">Home</a></li>
        {{ range .Site.Menus.main }}
            {{ if .Page.Params.redirect_url }}
            <li><a href="{{ .Page.Params.redirect_url }}">{{ .Name }}</a></li>
            {{ else }}
            <li><a href="{{ .URL | relLangURL | safeURL }}">{{ .Name }}</a></li>
            {{ end }}
        {{ end }}
        {{ if ne (.Site.Params.wane_mastodon | default "") "" }}<li><a href="{{ .Site.Params.wane_mastodon }}">Mastodon</a></li>{{ end }}
        {{ if ne (.Site.Params.wane_microblog | default "") "" }}<li><a href="{{ .Site.Params.wane_microblog }}">Micro.blog</a></li>{{ end }}
        {{ if ne (.Site.Params.wane_github | default "") "" }}<li><a href="{{ .Site.Params.wane_github }}">Github</a></li>{{ end }}
        </ul>
    </nav>
</header>