{{ define "main" }}
    <main>
        
        {{ $paginator := .Paginate (where .Site.Pages.ByDate.Reverse "Type" "post") (index .Site.Params "archive-paginate" | default 15) }}
        {{ range $paginator.Pages  }}
        <article>
            {{ if .Title }}
            <h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h2>
            <p class="post-date">{{ .Date.Format "Monday, January 2, 2006" }}</p>
            <p>{{ .Summary | safeHTML }}</p>
			{{ if .Truncated }}
      		<p><a href="{{ .RelPermalink }}">Continue reading →</a></p>
    	    {{ end }}
            {{ else }}
			<p class="post-date"><a href="{{ .Permalink }}">{{ .Date.Format "Monday, January 2, 2006" }}</a></p>
            {{ .Content }}
            {{ end }}
        </article>
        {{ end }}
        
        {{ if or ($paginator.HasNext) ($paginator.HasPrev) }}
        <nav class="main-nav">
            <ul>
                <li>{{ if $paginator.HasNext }}<a href="{{ $paginator.Next.URL }}">← Older</a>{{ end }}</li>
                <li>{{ if $paginator.HasPrev }}<a href="{{ $paginator.Prev.URL }}">Newer →</a>{{ end }}</li>
            </ul>
        </nav>
        {{ end }}
        
    </main>
{{ end }}
